:root {
    --primary-color: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--primary-color);
}

body {
    font-family: "Figtree", sans-serif;
    font-size: 16px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card {
    background-color: var(--white);
    width: 384px;
    height: 522px;
    border: 1px solid var(--black);
    border-radius: 10px;
    box-shadow: 7px 7px ;
}

.card__image, .card__content{
    margin: 24px 24px;
}

.card__profile {
    margin-inline: 24px;
}

.card__image img {
    display: block;
    border-radius: 10px;
}

.date, .title {
    margin-bottom: 12px;
}

.title a {
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
}

.title a:active {
    color: var(--primary-color);
}

.btn {
    all: unset;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 12px;
    background-color: var(--primary-color);
    padding: 8px;
    border-radius: 10px;
    font-weight: 700;
}

.card__profile {
    display: flex;
    align-items: center;
    gap: 12px;
}

.card__profile p {
    font-weight: 700;
}

.card__profile img {
    width: 32px;
    height: 32px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media (max-width: 480px) {
    .card {
        width: 327px;
        height: 501px;
    }
    .card__image img {
        width: 279px;

    }
}